/* fallback */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(fonts/MaterialSymbolsOutlined[FILL,GRAD,opsz,wght].woff2) format('woff2');
}
html {
    font-size: 14px;
}
.mi {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
}
.mi.md-18 { font-size: 18px; }
.mi.md-24 { font-size: 24px; }
.mi.md-36 { font-size: 36px; }
.mi.md-48 { font-size: 48px; }

.mi.md-dark { color: rgba(0,0,0,.54); }
.mi.md-dark.md-inactive { color: rgba(0,0,0,.26); }

.mi.md-light { color: rgba(255,255,255,.54); }
.mi.md-light.md-inactive { color: rgba(255,255,255,.26); }

#niv label {
    cursor: pointer;
}
#options select {
    width: 250px;
}
#leschamps {
    overflow: scroll;
}
.boy {
    background-color: rgb(218, 234, 255);
}
.girl {
    background-color: rgb(251, 230, 233);
}
#verif, #classesRapprochements, #classesEloignement {
    overflow: scroll;
}
#verif > div, #classesRapprochements > div, #classesEloignements > div {
    padding: 6px;
}
#rapprochements .panel, #eloignements .panel {
    width: 200px;
    overflow: hidden;
    margin-right: 1em;
}
.verif-eleve {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    margin-bottom: 0.2em;
    border-radius: 0.5em;
    width: 145px;
    cursor: pointer;
    margin-right: 0.3em;
    position: relative;
}
.verif-eleve input {
    display: none;
    position: absolute;
    left: -0.3em;
    top: -0.1em;
}
.checkBoxVisible .verif-eleve input, .checkBoxVisible .classe .select-all.is-hidden {
    display: inline-block !important;
    margin-left: 0.5em;
}

.eleve {
    width: 140px;
    cursor: pointer;
    margin-right: 0.3em;
    border-radius: 0.5em;
    margin-bottom: 0.2em;
    white-space: nowrap;
    position: relative;
    padding-left:1em;
}
.eleve input {
    display: none;
    position: absolute;
    left: -0.3em;
    top: -0.1em;
}

.eleve span {
    display: inline-block;
    width: 98%;
    overflow: hidden;
    text-overflow: ellipsis;
}
.eleve:hover input {
    display: inherit;
}
.eleve input:checked {
    display: inherit;
}
.eleve-nom {
    width: calc(100% - 37px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.eleve-classe {
    width: 20px;
    text-align: center;
}
.eleve-niveaux {
    display: inline-block;
    width: 15px;
    height: 1.5em;
}
.A, .B, .C {
    display: block;
    width: 100%;
    height: 32%;
}
.eleve-niveaux div:first-child, .eleve-niveaux div:nth-child(2){
    border-bottom: 1px solid black;
}
.A {
    background-color: rgb(16, 203, 16);
}
.B {
    background-color: yellow;
}
.C, .par3 .C, .D {
    background-color: rgb(249, 76, 76);
}
.par4 .C {
    background-color: rgb(255, 150, 0);
}
#studentEditor fieldset.c33 {
    display: inline;
    width: 49%;
}
#studentEditor fieldset.c33 legend {
    font-weight: bold;
}
#studentEditor fieldset.c33 label {
    cursor: pointer;
}

.locked::before {
    content:"🔒";
    position: absolute;
    top:.2em;
    left:-.8em;
}
.linked::before {
    content: "🔗";
    position: absolute;
    top:-0.5em;
    right:-0.8em;
}
.away{
    background-image: url("red.png");
    background-position: left;
    background-repeat: no-repeat;
    background-size: 1em 100%;
}
#repartitionContainer > div {
    min-width: 150px;
    min-height: 150px;
    margin-right: 1em;
}
#repartitionContainer > div > div:first-of-type {
    border: dotted 1px black;
    min-height: calc(93% - 14em);
    min-width: 100%;
}
.drop-activated {
	border: 2px dotted rgb(190, 107, 107);
}
#disponiblesContainer.drop-activated {
    border: 2px dotted rgb(97, 97, 221);
}
#repartition * {
    user-select: none;
}
table.eleve-stats {
    width: 100%;
}
table.eleve-stats div {
    display: inline-block;
}
table.eleve-stats td:first-child {
    width: 20%;
}
table.eleve-stats td:nth-child(2) {
    width: 80%;
}
table.eleve-stats tr td {
    text-align: center;
}
table.eleve-stats tr td:last-child div:first-child {
	text-align: right;
	padding-right: 4%;
}
table.eleve-stats  tr td:last-child div:last-child {
	text-align: left;
	padding-left: 4%;
}
.green {
    background-color: rgb(103, 232, 103);
}
.yellow {
    background-color: yellow;
}
.orange {
    background-color: rgb(255, 150, 0);
}
.red {
    background-color: rgb(241, 74, 74);
}
.show-buttons .button:not(.select-all).is-hidden {
    display: inline-block !important;
    margin-left: 0.5em;
}
.stats3 > div {
    text-align: center;
    padding: 0 .2em;
    border: 1px solid black;
}
table.eleve-stats tr td {
    padding-bottom: 0.3em;
}
#repartitionContainer label {
    width: 100%;
}
#repartitionContainer label button {
    display: inline-block;
}

#repartitionContainer .delete {
    float: right;
}

.horizontal-shake {
    animation: tilt-shaking 0.35s infinite;
}
@keyframes horizontal-shaking {
    0% { transform: translateX(0) }
    25% { transform: translateX(5px) }
    50% { transform: translateX(-5px) }
    75% { transform: translateX(5px) }
    100% { transform: translateX(0) }
   }
@keyframes tilt-shaking {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(5deg); }
    50% { transform: rotate(0eg); }
    75% { transform: rotate(-5deg); }
    100% { transform: rotate(0deg); }
}
.grayscale {
    filter: grayscale(1);
    opacity: 0.5;
}