#classes {
    display: flex;
    justify-content: space-evenly;
}
.classname {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}
#btn-allAtrier, #btn-AllAplacer {
    position: relative;
    margin-top: 0.5em;
    margin-bottom: -0.5em;
}

#filters span{
    cursor: pointer;
}
#boutonsGroupes {
    display: inline-block;
}
#leschamps select option:not(:first-child) {
    background-color: greenyellow;
}
.left{
    text-align: left;
}
.justmoved::before {
    content: ' > ';
    border-radius: 4px;
    position: absolute;
    border: 3px solid black;
    left: -1.5em;
    top:-0.2em
}
#atrier{
    margin:8px;
    border:2px dotted gray;
    padding:6px;
	column-width: 158px;
}
.movable{
    position: relative;
    margin:3px;
    width:162px;
    font-size:0.8em;
    border:1px solid #000000;
    border-radius: 5px;
    cursor: all-scroll;
    -webkit-column-break-inside: avoid; /* Chrome, Safari */
    page-break-inside: avoid;           /* Theoretically FF 20+ */
    break-inside: avoid-column;
}
.movable:first-of-type {
    display: inline-block;
}
#classes .movable {
    margin: 3px 1px;
}
#atrier .movable {
    margin-right:14px;
}
.nom {
    display:inline-block;
    white-space: nowrap;
    width: 95px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 0.8em;
}
.classe {
	overflow: hidden;
	width: 16px;
    display: inline-block;
    line-height: 0.8em;
}
#classes > div {
    width: 166px;
}
.newclasse{
    min-height: 100px;
    background-color: aliceblue;
    border: 1px solid black;
    width:100%;
    border-radius: 4px;
}
.stats{
    width:100%;
    text-align: center;
}
.niveaux {
    display:inline-block;
    width:1em;
    height:1em;
    margin-left:3px;
    cursor: pointer;
}
.niveaux > div {
    display:block;
    height: 32%;
    width:1em;
    margin-top:1%;
}
.c33, .c66, .c30, .c70 {
    display: inline-block;
    box-sizing: border-box;
}
.c30 {
    width: 26%;
}
.c33 {
    width:32%;
}
.c66 {
    width: 63%;
}
.c70 {
    width:72%;
}
#donnees input {
    font-weight: bold;
    margin-top:.5em;
}
#donnees fieldset {
    margin-top: .5em;
}
.radio {
    width:1rem;
    height:1rem;
    background-size:0 0;
    -webkit-transition:background-size .15s;
    transition:background-size .15s;
    -webkit-box-shadow:inset 0 0 0 1px #333;
    box-shadow:inset 0 0 0 1px #333;
    background-color:#fff;
    border-radius:50%;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    vertical-align:text-bottom;
    outline:0;
    cursor:pointer
}
.radio:checked{
    background-size:90% 90%;
    background-position:50%;
    background-repeat:no-repeat;
    background-color:#fff;
}
.radio.AA:checked{
    background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg width='100' height='100' viewBox='0 0 80 80' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='40' cy='40' r='24' fill='%2333CC33'/%3E%3C/svg%3E");
}
.radio.BB:checked{
    background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg width='100' height='100' viewBox='0 0 80 80' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='40' cy='40' r='24' fill='%23FFCC33'/%3E%3C/svg%3E");
}
.radio.CC:checked{
    background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg width='100' height='100' viewBox='0 0 80 80' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='40' cy='40' r='24' fill='red'/%3E%3C/svg%3E");
}
.radio.FF:checked{
    background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg width='100' height='100' viewBox='0 0 80 80' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='40' cy='40' r='24' fill='%23FF33CC'/%3E%3C/svg%3E");
}
.radio.GG:checked{
    background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg width='100' height='100' viewBox='0 0 80 80' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='40' cy='40' r='24' fill='%233399FF'/%3E%3C/svg%3E");
}

.A {
    background: rgb(38, 192, 38);
}
.B {
    background: yellow;
}
.C {
    background: red;
}
.fille {
    background-color: rgb(248, 194, 232);
}
.gars {
    background-color: rgb(200, 217, 248);
}

#dialog-niveaux {
    background: white;
}
table{
    width:100%;
}
table div{
    display:inline-block;
    height: 1.5em;
    box-sizing: border-box;
    font-size:0.7em;
    font-weight: bold;
    line-height: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
}

table tr td:last-child{
    width:80%;
}
table tr td:last-child div:first-child{
    text-align: right;
    padding-right: 4%;
    /*max-width: 80%;*/
}
table tr td:last-child div:last-child{
    text-align: left;
    padding-left: 4%;
    /*max-width: 80%;*/
}
table, tr, td{
    box-sizing: border-box;
}
/*table tr td:last-child div:nth-child(2){
    max-width:80%;
}*/
.prov, .options{
    display: inline-block;
    margin:1%;
    text-align: left;
    vertical-align: top;
    font-size: 0.8em;
}
.prov {
    width: 58%;
}
.options {
    width: 38%;
    text-align: right;
}
.cache {
    display:none;
}
.selection{
    position:absolute;
    top:-.8em;
    left:-.8em;
}
.selection input{
    position: absolute;
}
.locked::before {
    content:"🔒";
    position: absolute;
    top:.2em;
    left:-.8em;
}
.linked::before {
    content: "🔗";
    position: absolute;
    top:-0.5em;
    right:-0.8em;
}
.away{
    background-image: url("red.png");
    background-position: left;
    background-repeat: no-repeat;
    background-size: 1em 100%;
}
#fil-ariane span {
    display: none;
}
#fil-ariane span.active{
    display: inline-block;
}
#uploadFile, #addoption {
    position: absolute;
    top:200px;
    left:50%;
    transform: translateX(-50%);
    background-color: #050505c5;
    width:400px;
    padding: 3em;
    color: #fff;
    border-radius: 0.5em;
}
#addoption select {
    width:200px;
}
#associationsChamps, #groupes{
    position: absolute;
    top:20px;
    left:0px;
    background-color: #dad6d6f6;
    padding: 1em;
    color: rgb(26, 25, 25);
    border-radius: 0.5em;
}
#groupes ul{
    float:left;
    padding-left: 1em;
    border-left: 2px solid #333;
}
.close{
    cursor: pointer;
    display: block;
    position: absolute;
    right:5px;
    top:5px;
    width:1em;
    height: 1em;
    font-weight: bold;
    color: white;
    background-color: red;
    font-size: 1em;
    border-radius: 0.5em;
    text-align: center;
    line-height: 1em;
}