﻿[draggable] {
    user-select: none;
}

#columns {
    display: flex;
    gap: 1rem;
}

.column {
    height: 150px;
    width: 150px;
    display: inline-block;
    border: 2px solid #666666;
    background-color: #ccc;
    margin-right: 5px;
    border-radius: 10px;
    box-shadow: inset 0 0 3px #000;
    text-align: center;
    cursor: move;
}
    .column header {
        color: #fff;
        background: radial-gradient(ellipse at center, #000000 0%,#7c7c7c 100%);
        text-shadow: #000 0 1px;
        box-shadow: 5px;
        padding: 5px;
        border-bottom: 1px solid #ddd;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        pointer-events: none;
    }
    .column.over {
        border: 2px dashed #000;
    }

    .column >input,
    .column >textarea,
    .column >select {
        width: 8rem;
        resize: none;
        margin: 0.4rem;
        display: block;
    }

    .column >img {
        margin: 0.4rem;
        width: 5rem;;
    }


.wj-flexgrid {
    max-height: 200px;
}    